* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1 rem = 10px */ }

*, *:before, *:after {
  box-sizing: inherit; }

nav ul li {
  display: inline-block; }

ul {
  list-style-type: none; }

article {
  margin: 15rem 10rem; }

h4 {
  font-family: "Roboto Mono", monospace;
  color: #000000;
  font-size: 40px;
  font-weight: 500; }

p {
  font-family: "Roboto Mono", monospace;
  color: #000000;
  font-size: 36px;
  font-weight: 500; }

span {
  color: #15BEC9; }

a {
  text-decoration: none;
  color: #000000;
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  font-size: 24px; }

h1 {
  font-family: "Secular One", sans-serif;
  color: #000000;
  font-size: 96px; }

h2 {
  font-family: "Roboto Mono", monospace;
  color: #ffffff;
  font-size: 64px;
  font-weight: 700; }

.article--textAlignCenter {
  text-align: center; }

.gradient {
  background: linear-gradient(to bottom, white, #929292, black); }

.white {
  color: #ffffff; }

.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  .nav__logo {
    display: inline;
    text-decoration: none;
    color: #000000;
    font-family: "Baloo 2", cursive;
    font-size: 48px;
    font-weight: 600; }

.nav__ul__li {
  display: inline-block;
  padding: 2rem 2rem; }

.hover {
  overflow: hidden;
  background: linear-gradient(to right, #15BEC9, #15BEC9 50%, black 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease; }

.hover:hover {
  background-position: 0 100%; }

.article {
  display: flex;
  gap: 40rem; }
  .article__slogan {
    align-self: center;
    font-size: 40px; }
    .article__slogan__h1 {
      display: flex;
      justify-content: center; }

.article__aside__img {
  width: 100%;
  max-width: 463px;
  min-width: 150px;
  filter: grayscale(100%);
  transition: all 1s; }
  .article__aside__img:hover {
    filter: none; }

.article2 {
  display: flex;
  justify-content: space-between;
  margin-top: 30rem;
  margin-bottom: 20rem; }
  .article2__section {
    max-width: 70rem;
    width: 100%; }
    .article2__section__h4 {
      text-align: center;
      font-family: "Secular One", sans-serif;
      font-size: 60px;
      margin-bottom: 3rem; }

.article2__section__p {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 3rem;
  text-align: center; }

.article2__section__2p {
  font-size: 25px;
  font-weight: 300;
  text-align: center; }

.article2__aside {
  margin-top: 20rem;
  max-width: 75rem;
  width: 100%; }
  .article2__aside__h4 {
    text-align: center;
    font-family: "Secular One", sans-serif;
    font-size: 60px; }

.article2__aside__h4--centered {
  text-align: center;
  font-family: "Secular One", sans-serif;
  font-size: 60px; }

.article2__aside__div {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem; }

.article2__aside__div2 {
  display: flex;
  justify-content: space-evenly;
  padding-top: 5rem; }

.article2__aside__div3 {
  display: flex;
  justify-content: center;
  padding-top: 5rem; }

.contenedor2 {
  display: grid;
  grid-template-areas: "article2__section . article2__aside"; }

.icons {
  font-size: 100px;
  color: #15BEC9;
  transition: all 1s; }
  .icons:hover {
    font-size: 150px; }

.aboutUs {
  background-color: #121212; }

.aboutUs__div {
  height: 956px;
  background-image: url("../../assets/img/otherImgs/laptop-image.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.article3 {
  margin-left: 0rem;
  display: grid;
  grid-template-areas: ". aside" "section .";
  grid-template-columns: 76rem 60rem;
  grid-template-rows: 20rem 50rem; }
  .article3__section {
    grid-area: section;
    justify-self: center;
    align-self: center; }
    .article3__section__p {
      font-size: 28px;
      text-align: center;
      color: #000000; }

.article3__aside {
  grid-area: aside;
  justify-self: center;
  align-self: end; }
  .article3__aside__h2 {
    color: #15BEC9;
    font-size: 92px; }
    .article3__aside__h2__span {
      color: #000000; }

.article4 {
  margin-top: 27rem;
  text-align: center; }
  .article4__section {
    width: 70rem;
    margin-right: auto;
    margin-left: auto; }
    .article4__section__h2 {
      font-family: "Raleway Dots", cursive;
      font-size: 70px;
      margin-bottom: 5rem; }

.article4__section__p {
  color: #ffffff;
  font-size: 30px;
  font-weight: 400; }

.hover__footer--white {
  overflow: hidden;
  background: linear-gradient(to right, #15BEC9, #15BEC9 50%, #ffffff 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease; }

.hover__footer--white:hover {
  background-position: 0 100%; }

.social-media--white, .contact--white {
  font-size: 3rem; }

.footer__email--white {
  color: #ffffff; }

.footer__copyright--white {
  text-align: center; }
  .footer__copyright--white__p {
    color: #ffffff;
    font-size: 16px; }

.section5, .section8__2ndarticle {
  display: flex;
  justify-content: center;
  align-items: center; }
  .section5__article {
    width: 80rem;
    text-align: center; }
    .section5__article__h1__p {
      font-size: 30px;
      font-weight: 400; }

.section5__aside__img {
  width: 100%;
  max-width: 500px;
  border-radius: 10px; }

.section6 {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr; }
  .section6__articles {
    text-align: center;
    width: 70rem;
    max-width: 70rem;
    height: 90rem;
    border: 1px solid #000000;
    border-radius: 10px; }
    .section6__articles__p {
      margin-top: 3rem;
      margin-left: 10rem;
      font-size: 20px;
      font-weight: 300;
      text-align: left; }

.section6__articles__2ndp {
  margin-top: 3rem;
  font-weight: 400;
  font-size: 30px; }

.section6__articles__button {
  display: block;
  margin-top: 3rem;
  margin-left: 10rem;
  font-weight: 300;
  font-size: 22px;
  text-align: left;
  text-decoration: underline;
  transition: all 0.5s; }
  .section6__articles__button:hover {
    color: #15BEC9; }

.section6__imgs {
  margin-top: 10rem;
  max-width: 600px;
  max-height: 500px;
  width: 100%;
  height: 100%;
  border-radius: 10px; }

.section7 {
  margin-top: 15rem;
  text-align: center; }
  .section7__p {
    font-weight: 400;
    font-size: 30px; }

.section8 {
  display: flex;
  justify-content: space-around; }
  .section8__article {
    text-align: center; }
    .section8__article__h4 {
      font-family: "Secular One", sans-serif;
      font-size: 50px; }

.section8__article__p {
  margin: 3rem;
  font-size: 20px;
  font-weight: 700; }
  .section8__article__p__span {
    color: #000000;
    font-weight: 300; }

.section8__2ndarticle {
  width: 65rem;
  height: 100%;
  border: 0.5px solid #000000;
  border-radius: 10px;
  flex-direction: column; }
  .section8__2ndarticle__divs {
    border: 0.5px solid #000000;
    border-radius: 10px;
    width: 60rem;
    height: 8rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
    display: flex;
    align-items: center; }
    .section8__2ndarticle__divs__p {
      font-weight: 400;
      font-size: 30px;
      margin-left: 1rem; }
      .section8__2ndarticle__divs__p__span {
        color: #000000;
        font-weight: 300;
        font-size: 25px; }

.section9 {
  display: flex;
  justify-content: space-around; }
  .section9__article {
    text-align: center;
    width: 100%;
    max-width: 70rem; }
    .section9__article__h1 {
      margin-top: 0;
      font-size: 64px; }

.section9__article__p {
  font-weight: 300;
  font-size: 30px; }

.noborder {
  border: none;
  border-bottom: 1px solid #000000; }

.section9__2ndarticle {
  max-width: 70rem;
  width: 100%; }

.form__divs__1strow {
  display: flex;
  justify-content: space-evenly;
  width: 100%; }

.form__divs__2ndrow {
  display: flex;
  justify-content: space-evenly;
  width: 100%; }

.section9__2ndarticle__form__textarea {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  font-size: 20px;
  resize: none;
  outline: none;
  width: 100%; }

.form__div {
  margin-top: 3rem;
  width: 100%;
  text-align: center; }
  .form__div__submit {
    border: 1px solid #000000;
    border-radius: 50px;
    width: 15rem;
    height: 4rem;
    overflow: hidden;
    background: linear-gradient(to right, #15BEC9, #15BEC9 50%, #ffffff 50%);
    background-clip: content-box;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease; }

.form__div__submit:hover {
  background-position: 0 100%; }

input:focus {
  outline: none; }

input[type="text"] {
  margin-bottom: 3rem;
  font-size: 20px;
  font-family: "Roboto Mono", monospace;
  font-weight: 300; }

input[type="tel"] {
  margin-bottom: 3rem;
  font-size: 20px;
  font-family: "Roboto Mono", monospace;
  font-weight: 300; }

input[type="email"] {
  margin-bottom: 3rem;
  font-size: 20px;
  font-family: "Roboto Mono", monospace;
  font-weight: 300; }

input[type=submit] {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  font-size: 20px;
  cursor: pointer; }

.footer {
  height: 17rem;
  display: flex;
  flex-direction: column; }
  .footer__row {
    display: flex;
    justify-content: space-between;
    margin: 4rem 4rem; }

.footer__socialmedia {
  display: flex;
  gap: 2rem; }

.footer__contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem; }

.footer__email, .footer__email--white {
  font-size: 20px; }

.social-media, .contact {
  font-size: 3rem;
  color: #000000; }

.footer__copyright {
  text-align: center; }
  .footer__copyright__p {
    font-size: 16px; }

.hover__footer {
  overflow: hidden;
  background: linear-gradient(to right, #15BEC9, #15BEC9 50%, #000000 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease; }

.hover__footer:hover {
  background-position: 0 100%; }

@media all and (max-width: 1024px) {
  article {
    margin: 0 0; }
  .article {
    flex-direction: column;
    width: 100%;
    margin-top: 5rem;
    gap: 5rem; }
  .article__aside__img {
    display: block;
    margin: auto; }
  .article2 {
    flex-direction: column;
    align-items: center;
    margin-top: 15rem;
    gap: 10rem; }
  .article2__section {
    width: 100%; }
  .article2__aside {
    width: 100%; }
  .section5, .section8__2ndarticle {
    flex-direction: column;
    gap: 10rem; }
  .section6 {
    grid-template-columns: 1fr;
    grid-gap: 5rem;
    justify-items: center;
    margin-bottom: 5rem; }
  .section8 {
    margin-top: 10rem;
    margin-bottom: 10rem;
    flex-direction: column;
    align-items: center; }
    .section8__article {
      margin-bottom: 10rem; }
  .section8__2ndarticle__divs {
    margin-bottom: 0; }
  .section9 {
    flex-direction: column; }
    .section9__article {
      margin-top: 5rem;
      margin-left: auto;
      margin-right: auto; }
  .section9__2ndarticle {
    margin-top: 5rem;
    max-width: 100%; }
  .form__divs__textarea {
    margin-left: 2rem;
    margin-right: 2rem; } }

@media all and (max-width: 768px) {
  .nav {
    flex-direction: column; }
  .nav__ul {
    width: 100%;
    padding-top: 1rem; }
  .nav__ul .nav__ul__li {
    display: block;
    padding: 1rem 1rem;
    border-top: 0.1rem solid;
    width: 100%;
    text-align: center; }
  .nav__logo {
    font-size: 30px; }
  a {
    font-size: 20px; }
  article {
    margin: 0 0; }
  .article {
    flex-direction: column;
    width: 100%;
    margin-top: 5rem;
    gap: 5rem; }
  .article__slogan {
    text-align: center;
    font-size: 30px; }
  .article__aside__img {
    display: block;
    margin: auto; }
  .article2 {
    flex-direction: column;
    margin-top: 15rem;
    gap: 10rem; }
  .article2__section {
    width: 100%; }
    .article2__section__h4 {
      font-size: 40px; }
  .article2__section__p {
    font-size: 20px; }
  .article2__section__2p {
    font-size: 20px; }
  .article2__aside {
    width: 100%; }
    .article2__aside__h4 {
      font-size: 40px; }
  .article2__aside__h4--centered {
    font-size: 40px; }
  .icons {
    font-size: 70px; }
  .article3 {
    flex-direction: column;
    margin: 1rem 1rem; }
  .article4 {
    margin: 0rem;
    padding: 0rem; }
  .article4__div__h2 {
    font-size: 33px; }
  .section5__article {
    width: 100%; }
    .section5__article__h1 {
      font-size: 70px; }
      .section5__article__h1__p {
        font-size: 15px; }
  .section5__aside__img {
    width: 340px; }
  .section6__articles {
    width: 340px;
    max-width: 100%;
    max-height: 540px; }
    .section6__articles__p {
      font-size: 10px;
      margin-left: 5rem; }
  .section6__articles__2ndp {
    font-size: 20px; }
  .section6__articles__button {
    margin-left: 5rem;
    font-size: 12px; }
  .section6__imgs {
    max-width: 320px;
    max-height: 240px; }
  .section7__h1 {
    font-size: 70px; }
  .section8 {
    flex-direction: column;
    margin-top: 15rem;
    gap: 5rem; }
    .section8__2ndarticle {
      margin-left: 1rem;
      margin-right: 1rem;
      max-width: 340px;
      width: 100%;
      height: 80rem; }
      .section8__2ndarticle__divs {
        max-width: 330px;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 1rem;
        margin-bottom: 2rem; }
        .section8__2ndarticle__divs__p {
          font-size: 20px; }
          .section8__2ndarticle__divs__p__span {
            font-size: 15px; }
  .section9 {
    flex-direction: column; }
  .section9__article__h1 {
    font-size: 50px; }
  .section9__article__p {
    font-size: 20px; }
  .form__divs__1strow {
    margin-left: 1rem;
    margin-right: 1rem;
    flex-direction: column; }
  .form__divs__2ndrow {
    margin-left: 1rem;
    margin-right: 1rem;
    flex-direction: column; }
  .section9__2ndarticle__form__textarea {
    margin-left: 1rem;
    margin-right: 1rem; }
  input[type="text"] {
    margin-left: 1rem;
    margin-right: 1rem; }
  input[type="tel"] {
    margin-left: 1rem;
    margin-right: 1rem; }
  input[type="email"] {
    margin-left: 1rem;
    margin-right: 1rem; }
  .footer {
    height: 27rem;
    vertical-align: top; }
  .footer__row {
    flex-direction: column;
    justify-content: center; }
  .social-media, .contact {
    font-size: 2.5rem; }
  .footer__socialmedia {
    justify-content: center; }
  .footer__email, .footer__email--white {
    font-size: 16px; } }
