@media all and (max-width: 1024px) {
    article {
        margin: 0 0;
    }

    .article {
        flex-direction: column;
        width: 100%;
        margin-top: 5rem;
        gap: 5rem;
    }

    .article__aside__img {
        display: block;
        margin: auto;
    }

    .article2 {
        flex-direction: column;
        align-items: center;
        margin-top: 15rem;
        gap: 10rem;
    }

    .article2__section {
        width: 100%;
    }

    .article2__aside {
        width: 100%;
    }

    .section5 {
        flex-direction: column;
        gap: 10rem;
    }

    .section6 {
        grid-template-columns: 1fr;
        grid-gap: 5rem;
        justify-items: center;
        margin-bottom: 5rem;
    }

    .section8 {
        margin-top: 10rem;
        margin-bottom: 10rem;
        flex-direction: column;
        align-items: center;
            &__article {
                margin-bottom: 10rem;
            }
    }

    .section8__2ndarticle__divs {
        margin-bottom: 0;
    }

    .section9 {
        flex-direction: column;
            &__article {
                margin-top: 5rem;
                margin-left: auto;
                margin-right: auto;
            }
    }

    .section9__2ndarticle {
        margin-top: 5rem;
        max-width: 100%;
    }
    
    .form__divs__textarea {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    
}

@media all and (max-width: 768px) {
    .nav {
        flex-direction: column;
    }
    .nav__ul {
        width: 100%;
        padding-top: 1rem;
    }
    .nav__ul .nav__ul__li {
        display:block;
        padding: 1rem 1rem;
        border-top: 0.1rem solid;
        width: 100%;
        text-align: center;
    }
    .nav__logo {
        font-size: 30px;
    }

    a {
        font-size: 20px;
    }
    
    article {
        margin: 0 0;
    }

    .article {
        flex-direction: column;
        width: 100%;
        margin-top: 5rem;
        gap: 5rem;
    }
    .article__slogan {
        text-align: center;
        font-size: 30px;
    }

    .article__aside__img {
        display: block;
        margin: auto;
    }

    .article2 {
        flex-direction: column;
        margin-top: 15rem;
        gap: 10rem;
    }

    .article2__section {
        width: 100%;
            &__h4 {
                font-size: 40px;
            }
    }

    .article2__section__p {
        font-size: 20px;
    }

    .article2__section__2p {
        font-size: 20px;
    }

    .article2__aside {
        width: 100%;
            &__h4 {
                font-size: 40px;
            }
    }

    .article2__aside__h4--centered {
        font-size: 40px;
    }

    .icons {
        font-size: 70px;
    }

    .article3 {
        flex-direction: column;
        margin: 1rem 1rem;
    }

    .article4 {
        margin: 0rem;
        padding: 0rem;
    }

    .article4__div__h2 {
        font-size: 33px;
    }
    
    .section5__article {
        width: 100%;
        &__h1 {
            font-size: 70px;
                &__p {
                    font-size: 15px;
                }
        }
    }

    .section5__aside__img {
        width: 340px;
    }

    .section6__articles {
        width: 340px;
        max-width: 100%;
        max-height: 540px;
            &__p {
                font-size: 10px;
                margin-left: 5rem;
            }
    }

    .section6__articles__2ndp {
        font-size: 20px;
    }

    .section6__articles__button {
        margin-left: 5rem;
        font-size: 12px;
    }

    .section6__imgs {
        max-width: 320px;
        max-height: 240px;
    }

    .section7__h1 {
        font-size: 70px;
    }

    .section8 {
        flex-direction: column;
        margin-top: 15rem;
        gap: 5rem;
            &__2ndarticle {
                margin-left: 1rem;
                margin-right: 1rem;
                max-width: 340px;
                width: 100%;
                height: 80rem;
                    &__divs {
                        max-width: 330px;
                        margin-left: 1rem;
                        margin-right: 1rem;
                        margin-top: 1rem;
                        margin-bottom: 2rem;
                            &__p {
                                font-size: 20px;
                                    &__span {
                                        font-size: 15px;
                                    }
                            }
                    }
            }
    }

    .section9 {
        flex-direction: column;
    }

    .section9__article__h1 {
        font-size: 50px;
    }

    .section9__article__p {
        font-size: 20px;
    }

    .form__divs__1strow {
        margin-left: 1rem;
        margin-right: 1rem;
        flex-direction: column;
    }
    
    .form__divs__2ndrow {
        margin-left: 1rem;
        margin-right: 1rem;
        flex-direction: column;   
    }

    .section9__2ndarticle__form__textarea {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    input[type="text"]
{
    margin-left: 1rem;
    margin-right: 1rem;
}

input[type="tel"]
{
    margin-left: 1rem;
    margin-right: 1rem;
}

input[type="email"]
{
    margin-left: 1rem;
    margin-right: 1rem;
}



    .footer {
        height: 27rem;
        vertical-align: top;
    }

    .footer__row {
        flex-direction: column;
        justify-content: center;
    }

    .social-media, .contact {
        font-size: 2.5rem;
    }

    .footer__socialmedia {
        justify-content: center;
    }   
    
    .footer__email {
        font-size: 16px;
    }

}