.article3 {
    display: flex;
    justify-content: space-around;
        &__aside {
            width: 100%;
            max-width: 70rem;
            align-self: end;
                &__p {
                    font-weight: 400;
                    text-align: center;
                }
        }
} 

.article4 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    background-color: #030303;
    display: flex;
    justify-content: space-around;
        &__section {
            margin-top: 15rem;
            margin-bottom: 15rem;
            text-align: center;
            max-width: 50rem;
            width: 100%;
                &__h4 {
                    color: $white;
                    font-family: $dotFont;
                    font-size: 50px;
                    margin-bottom: 2rem;
                }
        }
}  

.article4__section__p {
    color: $white;
    font-size: 28px;
    font-weight: 400;
}

.article4__aside {
    @extend .article4__section;
        &__h4 {
            @extend .article4__section__h4;
        }
}

.article4__aside__p {
    @extend .article4__section__p;
}

.article5 {
    margin: 0 0;
    background-color: #030303;
    display: flex;
    justify-content: center;
        &__section {
            @extend .article4__section;
            max-width: 70rem;
                &__h4 {
                    @extend .article4__section__h4;
                }
        }
}

.article5__section__p {
    @extend .article4__section__p;
}

.footer__aboutUs {
    @extend .footer;
    background-color: #030303;
}

.hover__footer--white {
        overflow: hidden;
        background: linear-gradient(to right, #15BEC9, #15BEC9 50%, $white 50%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 200% 100%;
        background-position: 100%;
        transition: background-position 275ms ease;
}

.hover__footer--white:hover {
    background-position: 0 100%;
}

.social-media--white, .contact--white {
    font-size: 3rem;
}

.footer__email--white {
    @extend .footer__email;
    color: $white;
}

.footer__copyright--white {
    text-align: center;
        &__p {
            color: $white;
            font-size: 16px;
        }
}