.section7 {
    margin-top: 15rem;
    text-align: center;
        &__p {
            font-weight: 400;
            font-size: 30px;
        }
}

.section7__div {
    display: inline-block;
}

.section8 {
    display: flex;
    justify-content: space-around;
        &__article {
            text-align: center;
                &__h4 {
                    font-family: $tittles;
                    font-size: 50px;
                }
        }
}

.section8__article__p {
    margin: 3rem;
    font-size: 20px;
    font-weight: 700;
        &__span {
            color: $black;
            font-weight: 300;
        }
}

.section8__2ndarticle {
    width: 65rem;
    height: 100%;
    border: 0.5px solid $black;
    border-radius: 10px;
    @extend .section5;
    flex-direction: column;
        &__divs {
            border: 0.5px solid $black;
            border-radius: 10px;
            width: 60rem;
            height: 8rem;
            margin-top: 2rem;
            margin-bottom: 5rem;
            display: flex;
            align-items: center;
                &__p {
                    font-weight: 400;
                    font-size: 30px;
                    margin-left: 1rem;
                        &__span {
                            color: $black;
                            font-weight: 300;
                            font-size: 25px;
                        }
                }
        }
}