$LogoFont: 'Baloo 2', cursive;
$font:'Roboto Mono', monospace;
$dotFont: 'Raleway Dots', cursive;
$tittles: 'Secular One', sans-serif;
$white: #ffffff;
$black: #000000;
$skyBLue:#15BEC9;
$AlternativeBlack:#121212;